{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block body %}
    <h1>{{ titre }}</h1>
    {% for auteur in auteurs %}
        <li><a href="{{ path('auteurLivres',{id:auteur.id},'/livre') }}">{{ auteur.prenom }} {{ auteur.nom }}</a></li>
    {% endfor %}


{% endblock %}
{% if app.user is null %}
    Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
{% else %}
    Connecté en tant que {{ app.user }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
{% endif %}