{% extends 'base.html.twig' %}

{% block title %}Liste des livres de cet auteur{% endblock %}

{% block body %}
    {% for livre in livres %}
        <li>{{ livre.tire }}</li>
    {% endfor %}


{% endblock %}
{% if app.user is null %}
    Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
{% else %}
    Connecté en tant que {{ app.user }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
{% endif %}
