<html>
<h1>{{ titre }}</h1>
<div class="app">
    <ul>
       {% for livre in auteur.leslivres %}
        <li>{{ livre.titre }}</li>
        {% endfor %}
    </ul>
</div>
{% if app.user is null %}
    Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
{% else %}
    Connecté en tant que {{ app.user }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
{% endif %}
<li><a href ="{{ path('index') }}">Retour accueil</a></li>
</html>