<html>
<h1>{{ titre }}</h1>
<Strong>Livre :</Strong> {{ livre.titre }}
<br>
<Strong>Genres :</Strong> {% for genre in livre.lesGenres %} {{ genre.libelle }} {% endfor %}
{% if app.user is null %}
    Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
{% else %}
    Connecté en tant que {{ app.user }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
{% endif %}
<ul><li><a href ="{{ path('index') }}">Retour accueil</a></li></ul>
</html>
