<html>

    <body>
        <h1>{{ titre }}</h1>
        <ul>
            <li><a href ="{{ path('informationspratiques') }}">Informations pratiques</a></li>
            {% if is_granted('ROLE_USER','ROLE_BIBLIO') %}<li><a href ="{{ path('recherche') }}">Rechercher un livre</a></li>{% endif %}
            <li><a href ="{{ path('connexion') }}">Se connecter</a></li>
            <li><a href ="{{ path('livres') }}">Liste des livres</a></li>
            <li><a href ="{{ path('listeExemplaires') }}">Exemplaires</a></li>
            {% if is_granted('ROLE_BIBLIO') %}<li><a href ="{{ path('newLivre') }}">Ajouter un nouveau livre</a></li>{% endif %}

        </ul>
    </body>
    {% if app.user is null %}
        Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
    {% else %}
        Connecté en tant que {{ app.user }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
    {% endif %}

</html>