<html>
    <h1>{{ titre }}</h1>
    <li><a href ="{{ path('index') }}">Retour accueil</a></li>
    {% if app.user is null %}
        Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
    {% else %}
        Connecté en tant que {{ app.user }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
    {% endif %}
</html>