<html>
<h1>Liste des livres du genre {{ genre.libelle }}</h1>
    {% for livre in livres %}
            <ul><li><a href="{{ path('unlivre',{id:livre.id}) }}">{{ livre.titre }}</a></li></ul>
    {% endfor %}
{% if app.user is null %}
    Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
{% else %}
    Connecté en tant que {{ app.user }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
{% endif %}
<li><a href ="{{ path('index') }}">Retour accueil</a></li>
</html>
