<html>
    <h1>{{ titre }}</h1>
    <ul><li><a href ="{{ path('rechercheParAuteur') }}">Recherche par auteur</a></li>
        <li><a href ="{{ path('rechercheParTitre') }}">Recherche par titre</a></li>
    <br>
        {% if app.user is null %}
            Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
        {% else %}
            Connecté en tant que {{ app.user }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
        {% endif %}
    <li><a href ="{{ path('index') }}">Retour accueil</a></li></ul>
</html>
