<html>
<body>
<h1>{{ livre.titre }}</h1>

<strong>Auteur :</strong> <a href="{{ path('auteurLivres',{id:livre.auteur.id}) }}">{{ livre.auteur.prenom ~" "~ livre.auteur.nom }}</a>
<br>
<br>

Résumé : {{ livre.resume }}

<br>
<br>
<strong>Genre :</strong> {% for genre in livre.lesGenres %} <li><a href="{{ path('genreLivre', {id:genre.id}) }}">{{ genre.libelle }}</a></li> {% endfor %}
<br>
<strong>ISBN : {{ livre.isbn }}</strong>
<br>
<br>
<strong>Exemplaires :</strong>
{% for exemplaire in exemplaires %}
    <li>Exemplaire {{ exemplaire.numero }} {% if exemplaire.dateretour == null%}disponible
{% else %}emprunté, retour prévu le {{ exemplaire.dateretour|date('d/m/Y') }}{% endif %}</li>
{% endfor %}
{% if app.user is null %}
    Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
{% else %}
    Connecté en tant que {{ app.user }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
{% endif %}
</body>
</html>


