<html>
    <h1>{{ titre }}</h1>
    {% for exemplaire in exemplaires %}
        <ul><li>Exemplaire {{ exemplaire.numero }} de <a href="{{ path('unlivre',{id:exemplaire.livre.id}) }}">{{ exemplaire.livre.titre }}</a>
            {% if exemplaire.dateretour == null %}: <strong>disponible</strong>
            {% else %} (retour le : {{ exemplaire.dateretour|date('d/m/Y') }} ){% endif %}</li></ul>
    {% endfor %}
    {% if app.user is null %}
        Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
    {% else %}
        Connecté en tant que {{ app.user }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
    {% endif %}


</html>